<h1>Listing transmitters</h1>
<%= will_paginate @transmitters, renderer: BootstrapPagination::Rails %>

<table class="table table-striped table-bordered">

  <tbody>
    <% @transmitters.each do |transmitter| %>
      <tr>
          <td><%= link_to transmitter.city+", "+transmitter.object, transmitter %></td>
		  
        <td>
  		  <div class="btn-group">				  
  		  	<%= link_to '<i class="icon-edit icon-white"></i>'.html_safe, edit_transmitter_path(transmitter), method: :get, :class => 'btn btn-info' %>
  		  	<%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, transmitter, method: :delete, :class => 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  	  </div>
  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @transmitters, renderer: BootstrapPagination::Rails %>

<%= link_to 'New Transmitter', new_transmitter_path %>
