<p id="notice"><%= notice %></p>

<h1><%= @transmitter.place %></h1>

<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= @transmitter.longitude %>,<%= @transmitter.latitude %>&zoom=13&size=300x300&maptype=roadmap&scale=2&sensor=false" class="image-circle">

<hr>

<%= @transmitter.channels.count %> kanałów |
<%= link_to 'Edit', edit_transmitter_path(@transmitter) %> |
<%= link_to 'Back', transmitters_path %>
