<%= form_for(@channel) do |f| %>
  <% if @channel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@channel.errors.count, "error") %> prohibited this channel from being saved:</h2>

      <ul>
      <% @channel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if Station.where(:name => @channel.name).count == 0 then %>
	  <% if @channel.hint %>
		  <div class="alert alert-info">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    <strong>Podpowiedź!</strong> Być może stacja, której szukasz to <%= @channel.hint %>?.
		  </div>
	  <% else%>
		  <div class="alert alert-error">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    <strong>Problem!</strong> Niestety nie mam dla Ciebie żadnej podpowiedzi.
		  </div>
	  <% end%>
<% else%>
		  <div class="alert alert-success">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    <strong>Super!</strong> Kanał jest sparowany ze stacją.
		  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>
  
  
  
  <div class="field">
    <%= f.label :frequency %><br>
    <%= f.text_field :frequency %>
  </div>
  <div class="field">
    <%= f.label :power %><br>
    <%= f.number_field :power %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
