<h1>Import channel</h1>

<%= render 'importForm' %>

<hr>
<%= @array %>
<hr>
<p>
  <strong>Transmitter:</strong>
  <%= @channel.transmitter_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Frequency:</strong>
  <%= @channel.frequency %>
</p>

<p>
  <strong>Power:</strong>
  <%= @channel.power %>
</p>
<hr>
<p>
  <strong>Object:</strong>
  <%= @transmitter.object %>
</p>

<p>
  <strong>City:</strong>
  <%= @transmitter.city %>
</p>

<p>
  <strong>Place:</strong>
  <%= @transmitter.place %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @transmitter.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @transmitter.longitude %>
</p>
<hr>

<%= link_to 'Back', channels_path %>
