<h1>Listing channels</h1>
<%= will_paginate @channels, renderer: BootstrapPagination::Rails %>
<table class="table table-striped table-bordered">
    <tbody>
      <% @channels.each do |channel| %>
	  	<% if Station.where(:name => channel.name).count == 0 && channel.hint %>
    		<tr class="info">
				<% elsif Station.where(:name => channel.name).count == 0 %>
	    		<tr class="error">
				
	  	<% else %>
	      	<tr class="success">	
		<% end %>
	  
          <td><h4><%= channel.name %> <small>[<%= channel.frequency %> FM]</small></h4></td>
          <td><%= Transmitter.find(channel.transmitter_id).city %></td>
          <td>  
			  <div class="btn-group">				  
			  <%= link_to '<i class="icon-edit icon-white"></i>'.html_safe, edit_channel_path(channel), method: :get, :class => 'btn btn-info' %>
			  <%= link_to '<i class="icon-remove icon-white"></i>'.html_safe, channel, method: :delete, :class => 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
		  </div>
        </tr>
      <% end %>
    </tbody>

</table>

<%= will_paginate @channels, renderer: BootstrapPagination::Rails %>