<!DOCTYPE html>
<html lang="pl">
<head>
  <title>RadiatorAPI</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
		  <li class="<%= params[:controller] == "stations" ? "active" : "" %>"><a href="\stations"> Stations</a>
		  <li class="<%= params[:controller] == "transmitters" ? "active" : "" %>"><a href="\transmitters"> Transmitters</a>
		  <li class="<%= params[:controller] == "channels" ? "active" : "" %>"><a href="\channels"> Channels</a>
		</ul>
	    <%= yield %>
	</div>
</body>
</html>