<!DOCTYPE html>
<html lang="pl">
<head>
  <title>RadiatorAPI</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'jquery-1.2.6.min', 'jquery.ui-1.6rc2/ui/minified/ui.core.min', 'jquery.ui-1.6rc2/ui/minified/ui.autocomplete.min' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<ul class="nav nav-tabs">
		  <li class="<%= params[:controller] == "stations" ? "active" : "" %>"><a href="\stations"> Stations</a>
		  <li class="<%= params[:controller] == "transmitters" ? "active" : "" %>"><a href="\transmitters"> Transmitters</a>
		  <li class="<%= params[:controller] == "channels" ? "active" : "" %>"><a href="\channels"> Channels</a>
		</ul>
	    <%= yield %>
	</div>
</body>
</html>